.icon-green{
    color:rgb(115, 255, 0);
    font-size: 2.3rem;
}

.nav-link:hover{
    color:rgba(180, 109, 109, 0.801) !important;
}

.nav-link{
    color:rgba(255, 255, 255, 0.801) !important;
}

.nav-bg{
    background-color: rgb(20, 32, 27);
}

#mynav{
    position: relative;
    margin-top: 0px !important;
}
